## Infrastructure
APP_HOST=
LETSENCRYPT_EMAIL=
TRAEFIK_IMAGE=traefik:v3.1
NGINX_IMAGE=nginx:1.27-alpine
CF_DNS_API_TOKEN=

## Backend
BLOCKFROST_API_KEY=
CARDANO_NETWORK=preprod
PORT=3001

## Frontend
VITE_PROTOCOL_PARAMS_TX_HASH=
VITE_PROTOCOL_PARAMS_TX_IX=0
